h1 {
  padding: 0px;
}

.containerBorrowed {
  background-color: #FFF;
  padding: 20px;
  padding-top: 30px;
  border: 1px solid #bfbfbf;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  min-height: 500px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.containerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
}

.spinnerBorrowed {
  width: 5rem;
  height: 5rem
}

.btnBorrowedOperation {
  width: 120;
  font-size: 10px;
}